# Общие артефакты
.DS_Store
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.*

# Явно игнорируем env в подпроектах
client/.env
client/.env.*
server/.env
server/.env.*

# Разрешаем шаблоны env
!.env.example
!client/.env.example
!server/.env.example

# Клиент
client/node_modules
client/build
client/.DS_Store
client/coverage

# Сервер
server/node_modules
server/dist
server/data/dev.db
server/data/uploads
server/.DS_Store
server/logs

# Prisma/tsc
server/prisma/*.db
server/prisma/*.db-journal
server/prisma/migrations

# Logs
*.log
